.pakete {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-family: Futura;
  .pakete_wrap {
    width: 1700px;
    min-height: calc(100vh - 200px);
    // display: flex;
    // flex-direction: column;

    .pakete_part1 {
    }
    .pakete_part2 {
      margin-bottom: 100px;
    }
    .pakete_part3 {
      margin-bottom: 100px;
    }
    .pakete_part4 {
    }
    .pakete_part5 {
    }
    .pakete_part6 {
      margin-bottom: 50px;
    }
  }
}
