.pakete {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .pakete_wrap {
    width: 1700px;

    // display: flex;
    // flex-direction: column;

    .pakete_part1 {
    }
    .pakete_part2 {
      margin-bottom: 100px;
    }
    .pakete_part3 {
      margin-bottom: 100px;
    }
    .pakete_part4 {
    }
    .pakete_part5 {
    }
    .pakete_part6 {
      margin-bottom: 50px;
    }
  }
}
