.pakete_wrap{
    .pakt1{
        
        p{   display: flex;
            justify-content:center;}
    }
    .pakt_price{
        display: flex;
        justify-content:center;
        .outer{
            display: flex;
            justify-content:center;
            .btn{
                background-color: #e8505b;
                width: 200px;
                height: 40px;
                border: none;
                color: white;
                text-decoration: none;
                align-items: center;
                font-size: 20px;
                letter-spacing: 0px;
                margin: 20px 20px;
                border-radius: 8px;
                font-weight: 400;
            }

        }
    }
    .pakt2{
        background-color: #F5F5F5;
        .pakt_comp1{
            display: flex;
            flex-direction: row;
            .comp_lhs{
                display: flex;
        float: left;
        width: 50%;
        justify-content: flex-end;
        padding: 50px 40px 0px 100px;
            img{
                width: 100%;
            }
            }
            .comp_rhs{ float: right;
                width: 50%;
                padding: 200px 40px 0px 100px;
                p{
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 1.2;
                }
        }
    }

    }
.pakt3{
    .pkt_card{
        
        .outer{
            display: flex;
            justify-content: center;
            .btn{
                background-color: white;
                width: 200px;
                height: 50px;
                border: none;
                color: #e8505b;
                text-decoration: none;
                font-size: 15px;
                letter-spacing: 0px;
                margin: 20px 20px;
                border-radius: 8px;
                font-weight: 600;

            }
        }
    
    }

}
.pakt4{
    background-color: #F5F5F5;
    .pakt_comp1{
        display: flex;
        flex-direction: row;
        .comp_lhs{
            display: flex;
    float: left;
    width: 50%;
    justify-content: flex-end;
    padding: 50px 40px 0px 100px;
        img{
            width: 100%;
        }
        }
        .comp_rhs{ float: right;
            width: 50%;
            padding: 200px 40px 0px 100px;
            p{
                font-size: 20px;
                font-weight: 700;
                line-height: 1.2;
            }
     } }

}
.pakt5{
    .pkt_card{
        
        .outer{
            display: flex;
            justify-content: center;
            .btn{
                background-color: white;
                width: 200px;
                height: 50px;
                border: none;
                color: #e8505b;
                text-decoration: none;
                font-size: 15px;
                letter-spacing: 0px;
                margin: 20px 20px;
                border-radius: 8px;
                font-weight: 600;

            }
        }}
}
.pakt6{
    .card2{
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
            border-radius: 50%;
          }
          
          /* On mouse-over, add a grey background color */
          .container:hover input .checkmark {
            background-color: #ccc;
          }
          
          /* When the radio button is checked, add a blue background */
          .container input:checked .checkmark {
            background-color:#e8505b;
          }
          
    }

}
.pakt7{
    
.cont_form{ line-height: 30px;
    
  
   padding-left: 500px;

    
    input[type="text"] {
      padding: 5px;
      border: 2px solid grey;
      background: transparent;

      width: 500px;
      color: blue;
    }
    textarea {
      padding: 5px;
      border: 2px solid grey;
      background: transparent;
      width: 500px;
      height: 100px;
    }
  }
}
.pakt_last{.icons3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    p {
      padding: 20px;
      margin: 0px;
    }

    
  }
  .inner {
    display: flex;
    justify-content: center;
    .btn {
      background-color: white;
      width: 300px;
      height: 50px;
      border-color: #e8505b;
      color: #e8505b;
      text-decoration: none;
      font-size: 15px;
      letter-spacing: 0px;
      margin: 20px 20px;
      border-radius: 8px;
      font-weight: 400;
    }
}}
}
