.home_wrap {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .part2 {
    margin-top: 50px;
  }
  .part3 {
    margin-top: 100px;
  }
  .part4 {
    margin-top: 100px;
  }
}
.section {
  overflow: hidden;
}
