.pakete_contact_wrap {
  .cont_form {
    h2 {
      color: #e8505b;
      text-align: center;
      font-family: Futura;
    }

    .wrap_form {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 3.5;
      .row_one {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        input {
          padding: 5px;
          border: 2px solid grey;
          background: transparent;
          width: 230px;
          font-family: Futura;
          border-radius: 5px;
        }
      }
      input {
        padding: 5px;
        border: 2px solid grey;
        background: transparent;
        width: 500px;
        font-family: Futura;
        border-radius: 5px;
      }
      textarea {
        padding: 5px;
        border: 2px solid grey;
        background: transparent;
        width: 500px;
        height: 100px;
        font-family: Futura;
        border-radius: 5px;
      }
      .btn {
        display: flex;
        justify-content: center;
        button {
          background-color: #e8505b;
          width: 200px;
          height: 50px;
          border-color: #e8505b;
          color: white;
          text-decoration: none;
          font-size: 15px;
          letter-spacing: 0px;
          margin: 0px 0px;
          border-radius: 8px;
          font-weight: 400;
          cursor: pointer;
          outline: none;
          font-family: Futura;
        }
      }
    }
  }

  .pakt_last {
    h2 {
      color: #e8505b;
      text-align: center;
    }

    .icons3 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .contact_icons {
        display: flex;
        margin-right: 15px;
        .c_icon {
          color: #e8505b;
          font-size: 32px;
          margin: 18px 5px 0px 0px;
        }
        p {
          font-size: 20px;
        }
      }
    }
    .inner {
      display: flex;
      justify-content: center;
      .btn {
        background-color: white;
        width: 300px;
        height: 50px;
        border-color: #e8505b;
        color: #e8505b;
        text-decoration: none;
        font-size: 15px;
        letter-spacing: 0px;
        margin: 20px 20px;
        border-radius: 8px;
        font-weight: 400;
        cursor: pointer;
        font-family: Futura;
        outline: none;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .pakete_contact_wrap {
    .cont_form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h1 {
        font-size: 20px;
      }

      .wrap_form {
        // width: 60%;
        // form {
        //   width: 10%;

        .row_one {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          input[type="text"] {
            width: 140px;
          }
        }
        input[type="text"] {
          background: transparent;
          width: 300px;
        }
        textarea {
          width: 300px;
        }
        // }
      }
    }
    .pakt_last {
      h1 {
        font-size: 20px;
      }
      .icons3 {
        .contact_icons {
          .c_icon {
            margin: -5px 5px 0px 0px;
          }
          p {
            font-size: 20px;
            margin: 0px;
          }
        }
      }
      .inner {
        .btn {
          width: 250px;
        }
      }
    }
  }
}
