.blog_s {
    padding: 30px 0px;
  
    border-bottom: 15px solid ;
    a {
      font-weight: normal;
      text-decoration: none;
      color: black;
    }
  }
  .blog_articles {
   
    flex-wrap: wrap;
  }
  
  .blog_article {
    padding: 20px;
    width: 300px;
    
  
    .title {
      text-align: left;
      height: 20px;
      width:380px;
      h1{
        font-size: 20px;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
    .img_wrapper {
      width: 320px;
      height: 207.56px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .content_wrapper {
      width: 400px;
    }
    .desc {
      font-size: 12px;
      padding-top: 70px;
      width: 300px;
      text-align: left;
      a{
        color: #e8505b;
      }
    }
    .links {
      display: block;
      text-align: right;
      margin: 5px 5px 0 0;
      color: blue;
    }
  
  
  .author {
  
    display: flex;
    flex-direction: row;
    // height: 30px;
    
    &_img_wrapper {
      margin-top: 30px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      img {
        border-radius: 50%;
      }
    }
    .author_name desc{
      margin-top: 0px;
    }
    .author_date desc{
      padding-top: 0px;
      display: flex;
    
    justify-content: left;
    }
  }}
  
