.sec4_wrap {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-family: Futura;

  .sec4 {
    margin-top: 100px;
    background-color: #fff;
    .four_li {
      display: flex;
      flex-direction: row;
      .four_lhs {
        width: 100%;
        width: 50%;
        padding: 50px 0px 0px 30px;
        float: left;
        line-height: 1.5;
        .li {
          margin-left: 0%;

          font-size: 20px;
          color: #393939;
          text-align: left;
          line-height: 1.3;
          li {
            list-style: none;
            display: list-item;
          }
          li::before {
            color: #e8505b;
            content: "";
            margin: 5px;
            display: inline-block;
            background-color: #e8505b;
            width: 14px;
            height: 14px;
            margin-left: -1em;

            position: relative;
            top: 5px;
            font-style: bold;
            left: -1px;
            border-radius: 0px 5px 5px 5px;
          }
        }
        .inner {
          .Btn1 {
            background-color: #e8505b;
            width: 200px;
            height: 50px;
            border: none;
            color: white;
            text-decoration: none;
            font-size: 15px;
            font-family: Futura;
            margin: 20px 20px;
            border-radius: 8px;
            font-weight: 400;
            cursor: pointer;
            outline: none;
          }
        }
      }

      .four_rhs {
        float: right;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        // display: flex;
        // align-items: center;
        // justify-content: center;
        img {
          width: 100%;
        }
      }
    }
  }
  .sec4_bottom {
    // padding: 600px 50px 0px 100px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    .bind_sec4_bottom {
      h2 {
        text-align: center;
      }
      p {
        text-align: center;
        font-size: 20px;
        font-weight: 400;
      }
      .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        .Btn1 {
          background-color: #f5f5f5;
          width: 400px;
          height: 50px;
          cursor: pointer;
          outline: none;
          color: #e8505b;
          text-decoration: none;
          font-size: 15px;
          font-family: Futura;
          margin: 20px 20px;
          border-radius: 8px;
          border-color: #e8505b;
          font-weight: 400;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .sec4_wrap {
    .sec4 {
      margin-top: 50px;
      .four_li {
        flex-direction: column-reverse;
        .four_lhs {
          width: 100%;
          padding: 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .li {
            width: 70%;

            font-size: 18px;

            text-align: center;

            li {
              text-align: left;
            }
            p {
              margin: 0px;
            }
          }
          .inner {
            .Btn1 {
              background-color: #e8505b;
              width: 200px;
              height: 50px;
              border: none;
              color: white;
              text-decoration: none;
              font-size: 15px;
              letter-spacing: 0px;
              margin: 20px 20px;
              border-radius: 8px;
              font-weight: 400;
            }
          }
        }

        .four_rhs {
          float: right;
          width: 100%;
          img {
            width: 80%;
          }
        }
      }
    }
    .sec4_bottom {
      // padding: 600px 50px 0px 100px;
      margin-top: 50px;

      .bind_sec4_bottom {
        padding: 10px;
        h2 {
          text-align: center;
          font-size: 20px;
          margin: 0px;
        }
        .inner {
          .Btn1 {
            width: 250px;
            height: 50px;
            font-size: 12px;
            margin: 10px 10px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
