.refer {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-family: Futura;
  margin-bottom: 100px;
  .refer_wrap {
    max-width: 100%;
    min-height: calc(100vh - 200px);
    .ref_one {
      width: 100%;
      display: flex;
      flex-direction: row;
      .refer_lhs {
        float: left;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        width: 50%;
        .refer_contnt {
          width: 80%;
          h1 {
            margin: 15px;
          }
          h2 {
            text-align: left;
            line-height: 1.5;
            margin: 15px;
            font-weight: 600;
          }
        }
      }
      .refer_rhs {
        display: flex;
        float: right;
        width: 50%;
        padding-top: 100px;
        align-items: center;
        justify-content: center;
        .refer_img_wrap {
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 80%;
          }
        }
      }
    }

    .ref_text {
      margin-top: 100px;
      background-color: #f5f5f5;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px;
      .section_two {
        width: 70%;
        text-align: center;
        p {
          font-size: 20px;
          margin: 0px;
          font-weight: 600;
          line-height: 1.5;
        }
      }
    }

    .ref_exmp {
      .ref2 {
        margin-top: 100px;
        display: flex;
        flex-direction: row;

        .exmp_lhs {
          float: left;
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          //   padding: 80px 40px 0px 100px;
          .exmp_lhs_wrap {
            width: 60%;

            p {
              font-size: 18px;
              font-weight: 800px;
              line-height: 1.5;
              margin: 0px;
              font-weight: 600;
            }
          }
        }
        .exmp_rhs {
          display: flex;
          float: right;
          width: 60%;
          justify-content: flex-end;
          //   padding: 150px 40px 0px 100px;
          .gradient {
            background: linear-gradient(20deg, #cf149d 70%, #e8505c 100%);
            height: 600px;
            width: 400px;
            position: absolute;
            // right: 0px;
            margin-left: 250px;
            // padding: 150px 40px 0px 60px;
          }
          .ref_img {
            position: relative;
            padding-top: 60px;
            padding-right: 0px;
            // left: -400px;
            // top: 40px;50%
            img {
              width: 100%;
              padding-right: 60px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .refer {
    .refer_wrap {
      .ref_one {
        flex-direction: column-reverse;
        .refer_lhs {
          justify-content: center;

          width: 100%;
          .refer_contnt {
            width: 80%;
            h1 {
              text-align: center;
              font-size: 20px;
            }
            h2 {
              text-align: center;
              font-size: 18px;
            }
          }
        }
        .refer_rhs {
          display: flex;
          float: right;
          width: 100%;
          padding-top: 100px;
          align-items: center;
          justify-content: center;
          .refer_img_wrap {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 100%;
            }
          }
        }
      }

      .ref_text {
        margin-top: 50px;
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0px 50px 0px;
        .section_two {
          width: 70%;
          text-align: center;
          p {
            font-size: 18px;
            margin: 0px;
            font-weight: 600;
          }
        }
      }

      .ref_exmp {
        .ref2 {
          margin-top: 50px;
          display: flex;
          flex-direction: column-reverse;
          .exmp_lhs {
            float: left;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            //   padding: 80px 40px 0px 100px;
            .exmp_lhs_wrap {
              width: 80%;
              text-align: center;
              p {
                font-size: 18px;
                font-weight: 600;
              }
            }
          }
          .exmp_rhs {
            display: flex;
            float: right;
            width: 100%;
            justify-content: center;
            //   padding: 150px 40px 0px 100px;
            .gradient {
              display: none;
            }
            .ref_img {
              position: unset;
              padding-top: 0px;
              padding-right: 0px;
              display: flex;
              align-items: center;
              justify-content: center;

              // left: -400px;
              // top: 40px;50%
              img {
                width: 80%;
                padding-right: 0px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 701px) and (max-width: 1200px) {
  .refer {
    .refer_wrap {
      .ref_one {
        .refer_lhs {
          margin-top: 50px;
          .refer_contnt {
            width: 90%;
            // h1{
            //     fonr
            // }
            // h2 {
            //   font-size: 20px;
            // }
          }
        }
      }

      .ref_text {
        margin-top: 50px;
        padding: 50px 10px 50px 10px;
      }

      .ref_exmp {
        .ref2 {
          margin-top: 50px;
          margin-bottom: 50px;

          .exmp_lhs {
            //   padding: 80px 40px 0px 100px;
            .exmp_lhs_wrap {
              width: 60%;
              p {
                font-size: 18px;

                margin: 2px;
                font-weight: 400;
              }
            }
          }
          .exmp_rhs {
            //   padding: 150px 40px 0px 100px;
            .gradient {
              display: none;
            }
          }
        }
      }
    }
  }
}
