.pp_wrapper {
  padding-bottom: 100px;
  overflow-x: hidden;
  word-spacing: 3px;
  line-height: 1.5;
  font-family: Futura;
  font-size: 20px;
  font-style: normal;
  font-weight: regular;
  color: #393939;
  letter-spacing: 1px;
  word-break: keep-all;

  .pp_content {
    padding: 20px 150px 20px 150px;
    text-align: left;
  }
  li {
    list-style: none;
    display: list-item;
  }
  li::before {
    color: #e8505b;
    content: "";
    margin: 10px;
    display: inline-block;
    background-color: #e8505b;
    width: 14px;
    height: 14px;
    margin-left: -1em;
    word-spacing: 3px;
    line-height: 1.5;
    position: relative;
    top: 12px;
    font-style: bold;
    left: 5px;
    border-radius: 0px 5px 5px 5px;
  }
}

@media only screen and (max-width: 1200px) {
  .pp_wrapper {
    font-size: 18px;
    //word-spacing: unset;
    letter-spacing: 0.1px;
    .pp_content {
      padding: 10px 50px 25px 50px;
    }

    li::before {
      left: 0.1em;
    }
  }
}
// @media only screen and (max-width: 768px) {
//   .pp_wrapper {
//     font-size: 14px;
//     padding-bottom: 50px;
//     letter-spacing: 0.9px;
//     line-height: 1.7;
//     word-spacing: 1px;
//     .pp_content {
//       padding: 10px 20px 25px 25px;
//     }
//     li::before {
//       left: 0.1em;
//     }
//   }
// }
